.jui-bgSelector-container{
	.item{
		display: inline-block;
		padding: 0px 20px;
		font-size: 14px;
		border: 1px solid #fff;
		margin: 3px;
		line-height: 36px;
		text-align: center;
		border-radius: 3px;
		cursor: pointer;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
		&:hover{
		}
		&.disabled{
		cursor: not-allowed;
		&:hover{
		}
		}
	}
}